@charset "UTF-8";
/* CSS Document */
#wrapper{
	width:1080px;
	margin-left:13%;	
}
body{
	/*background-color:#cee66e;*/
	background-color:#fff;	
	font-family:Arial, Helvetica, sans-serif;
	margin-top:10px;
}
h1{
	font-size:28px;	
	padding-top:0px;
}
h2{
	font-size:25px;	
	text-align:center;
	padding:2px;
}
#welcome{
	border:5px solid #404040;
	width:auto;	
	
}
#sidebar{
	background-color:#57585a;
	float:right;
	width:30%;
	margin-top:25px;
	margin-right:10px;	
}
#sidebar iframe{
	margin-left:15px;
	margin-top:15px;	
	border:solid 5px #cee66e;
}
#Snav ul{
	margin-top:5px;
	border-top:ridge 10px #404040;
	padding:5px;
		
}
#Snav li{
	display:inline;	
	font-size:20px;
	padding:10px;
	margin-top:10px;
}
#Snav a{
	text-decoration:none;
	color:#FFF;	
}
article{
	background:url(../img/debut_dark/debut_dark.png);
	margin: 25px 15px 15px 0px;
	padding:25px;
	width:auto;
}

section{
	background-color:#fff;
	border:solid 5px #cee66e;
	padding:25px;
	margin:15px;	
}
table{
	border-collapse:collapse;
	width:auto;
	height:100px;
}
table,th, td{
	border: 3px solid #404040;
	font-size:20px;
}
td{
	padding:20px;	
}
.crowdList td{
	border-top:none;
	border-bottom:none;	
}

#logo{
	height:40%;
	width:40%;
	margin-top:2%;
	background-color:#57585a;	
}
header{
	background-color:#57585a;
	background-size:100% 100%;
	min-height:150px;
	margin:0px;
	width:100%;
}
#mainNav{
	display:inline;
	position:absolute;
		
}
#mainNav li{
	display:inline;	
	border: solid 5px #404040;
	font-size:24px;
	margin-left:20px;
	padding:5px;
}
#mainNav a{
	text-decoration:none;
	color:#FFF;	
}
ul{
	list-style-type:none;	
	margin-top:65px;
}
#images{
	display: flex;
	align-items:center;	
	margin-left:1.5%;
	height:inherit;
}
#text{
	display: flex;
	align-items:flex-start;	
	top:900px;
	font-size:20px;
}

#crowd{
	height:auto;
	width:auto;
	border: 5px solid #cee66e;
}
#crowd img{
	height:same-as-width;
	width:95%;
	align:center;
	padding-left:5px;	
}
#arrow{
	height:auto;
	width:auto;
	border: 5px solid #cee66e;

}
#arrow img{
	height:same-as-width;
	width:95%;
	align:center;
	padding-left:5px;
}
#trophy{
	height:auto;
	width:auto;
	border: 5px solid #cee66e;
}
#trophy img{
	height:same-as-width;
	width:95%;
	align:center;
	padding-left:5px;	
}
.textbox{
	height:50%;
	width:95%;
	border:5px solid #404040;
}
p{
	padding:0px;
	margin:0px;	
}
#winninginfo{
	height:92px;	
}
#crowdinfo{
	height:92px;	
}

#tfheader{
		background-color:#57585a;
	}
	#tfnewsearch{
		position:absolute;
		padding:20px;
		left:600px;
		top:25px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:50px;
		border:1px solid #404040; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:50px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #404040; border-right:0px;
		background-color: #cee66e;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #404040;
		border: solid 1px #cee66e;

	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
#login{
		background-color:#57585a;
	}
	#cred{
		position:absolute;
		padding:20px;
		left:1425px;
		top:40px;
	}
	.loginput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		border:3px solid #404040;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.loginbtn {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #404040; border-right:0px;
		background-color: #cee66e;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.loginbtn:hover {
		text-decoration: none;
		background: #404040;
		border: solid 1px #cee66e;

	}
	.signupbtn{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #404040; border-right:0px;
		background-color: #cee66e;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.signinbtn:hover {
		text-decoration: none;
		background: #404040;
		border: solid 1px #cee66e;

	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
footer{
	border-top:5px solid #404040;
	text-align:center;
	padding:3px;	
}