@charset "UTF-8";
/* CSS Document */
body{
	background-color:#cee66e;	
	font-family:Arial, Helvetica, sans-serif;
	margin-top:10px;
}
h1{
	font-size:30px;	
	padding:2px;
}
h2{
	font-size:25px;	
	text-align:center;
	padding:2px;
}
#welcome{
	border:5px solid #404040;	
}
#sidebar{
	background-color:#57585a;
	float:right;
	width:535px;
	margin-top:25px;
	margin-right:10px;	
}
#sidebar iframe{
	margin-left:15px;
	margin-top:15px;	
	border:solid 5px #cee66e;
}
#Snav ul{
	margin-top:5px;
	border-top:ridge 10px #404040;
	padding:5px;
		
}
#Snav li{
	display:inline;	
	font-size:20px;
	padding:10px;
	margin-top:10px;
}
#Snav a{
	text-decoration:none;
	color:#FFF;	
}
article{
	background:url(../img/debut_dark/debut_dark.png);
	margin: 25px 15px 15px 0px;
	padding:25px;
	width:1500px;
}

section{
	background-color:#fff;
	border:solid 5px #cee66e;
	padding:25px;
	margin:15px;	
}
table{
	border-collapse:collapse;
	width:auto;
	height:100px;
}
table,th, td{
	border: 3px solid #404040;
	font-size:20px;
}
td{
	padding:20px;	
}
.crowdList td{
	border-top:none;
	border-bottom:none;	
}

#logo{
	height:134px;
	width:515px;
	background-color:#57585a;	
}
header{
	background-color:#57585a;
	background-size:250px 520px;
	min-height:150px;
	margin:0px;
}
#mainNav{
	display:inline;
	position:absolute;
		
}
#mainNav li{
	display:inline;	
	border: solid 5px #404040;
	font-size:24px;
	margin-left:20px;
	padding:5px;
}
#mainNav a{
	text-decoration:none;
	color:#FFF;	
}
ul{
	list-style-type:none;	
	margin-top:65px;
	heigth:134px;
}
#crowd{
	position:absolute;	
	left:20px;
	height:400px;
	width:400px;
	border: 5px solid #cee66e;
}
#crowd img{
	height:400px;
	width:400px;	
}
#arrow{
	position:absolute;	
	left: 485px;
	height:400px;
	width:400px;
	border: 5px solid #cee66e;
}
#arrow img{
	height:400px;
	width:400px;	
}
#trophy{
	position:absolute;	
	left: 950px;
	height:400px;
	width:400px;
	border: 5px solid #cee66e;
}
#trophy img{
	height:400px;
	width:400px;	
}
.textbox{
	height:150px;
	width:390px;
	position:absolute;
	top:920px;
	font-size:25px;	
	border:5px solid #404040;
}
p{
	padding:0px;
	margin:0px;	
}
#gameinfo{
	left:475px;	
}
#winninginfo{
	left:940px;	
}
#tfheader{
		background-color:#57585a;
	}
	#tfnewsearch{
		position:absolute;
		padding:20px;
		left:600px;
		top:25px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:50px;
		border:1px solid #404040; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:50px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #404040; border-right:0px;
		background-color: #cee66e;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #404040;
		border: solid 1px #cee66e;

	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
#login{
		background-color:#57585a;
	}
	#cred{
		position:absolute;
		padding:20px;
		left:1425px;
		top:40px;
	}
	.loginput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		border:3px solid #404040;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.loginbtn {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #404040; border-right:0px;
		background-color: #cee66e;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.loginbtn:hover {
		text-decoration: none;
		background: #404040;
		border: solid 1px #cee66e;

	}
	.signupbtn{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #404040; border-right:0px;
		background-color: #cee66e;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.signinbtn:hover {
		text-decoration: none;
		background: #404040;
		border: solid 1px #cee66e;

	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}