@charset "UTF-8";
/* CSS Document */
body{
	background-color:#cee66e;	
}

article{
	background:url(../../songmarket/img/debut_dark/debut_dark.png);
	margin: 300px 200px 300px 200px;
	padding:500px;
}

section{
	background-color:#fff;
	padding:25px;
	margin:15px;	
}
